//--------------------------------------------------------------
// Global Resets/Overrides
//--------------------------------------------------------------
*,
::after,
::before {
	@apply box-border break-words;

	word-wrap: break-word;
}

html {
	scroll-behavior: smooth;
	// color-scheme: light dark;
}

pre {
	@apply overflow-auto;
}

//-----------------------------------------
// Admin Overrides
//-----------------------------------------
.block-editor-writing-flow {
	@apply text-base leading-normal;
}

//-----------------------------------------
// Page Template Containers
//-----------------------------------------
.site-main {
	padding-top: 2rem;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;

	.entry-header,
	.entry-footer {
		@apply px-0 container;
	}

	article,
	nav {
		max-width: 700px;
		margin-left: 0;
		margin-right: auto;
	}
}

body {
	font-family: serif;
	font-size: 1.2rem;
	line-height: 1.25;
	background-color: $ej-white;

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li {
		color: $ej-black;
	}

	a {
		@apply no-underline;

		&.more-link {
			color: $ej-primary;
		}
	}

	mark {
		background-color: $ej-highlight-yellow;
		padding: 2px 6px;
	}
}

[class^='hl'] {
	padding: 0 8px;
}

.hl-yellow {
	background-color: $ej-highlight-yellow;
}

.hl-pink {
	background-color: $ej-highlight-pink;
}

.hl-blue {
	background-color: $ej-highlight-blue;
}

.hl-green {
	background-color: $ej-highlight-green;
}

img,
video,
svg {
	max-width: 100%;
	display: block;
	@apply mt-20 mb-20;
}

.wp-block-image {
	.wp-element-caption {
		@apply absolute p-10;
		background: rgba($ej-black, 0.75);
		color: $ej-white;
		width: 100%;
		height: auto;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
	}
}