//--------------------------------------------------------------
// Global Resets/Overrides
//--------------------------------------------------------------
*,
::after,
::before {
	@apply box-border break-words;

	word-wrap: break-word;
}

html {
	scroll-behavior: smooth;
	// color-scheme: light dark;
}

pre {
	@apply overflow-auto;
}

//-----------------------------------------
// Admin Overrides
//-----------------------------------------
.block-editor-writing-flow {
	@apply text-base leading-normal;
}

//-----------------------------------------
// Page Template Containers
//-----------------------------------------
.site-main {

	.entry-header,
	.entry-footer {
		@apply container;
	}
}

body {
	font-family: serif;
	font-size: 1.2rem;
	line-height: 1.25;
}

img,
video,
svg {
	max-width: 100%;
	display: block;
	@apply mt-20 mb-20;
}