//--------------------------------------------------------------
// Colors
//--------------------------------------------------------------

$ej-light: #fffbf2;
$ej-medium: #847d7d;
$ej-color-dark: #362118;

$ej-highlight-yellow: #e6eb1d;
$ej-highlight-pink: #ff60b1;
$ej-highlight-blue: #19c6ff;
$ej-highlight-green: #32ea45;

$ej-indexcard-blue: #2082c4;

$ej-white: #f7f7f7;
$ej-ltgray: #d0d0d0;
$ej-gray: #7c7c7c;
$ej-dkgray: #343434;
$ej-black: #0c0c0c;