//----------------------------------------
// Quote - Core Gutenberg Block
//----------------------------------------

.wp-block-quote {
	@apply container my-32;
	color: $ej-color-dark;
	border-left: 5px solid $ej-color-dark;

	.wp-block-paragraph {
		@apply p-0;
	}

	p {
		@apply text-4xl;
	}

	cite {
		@apply block not-italic pl-8;

		&::before {
			content: '- ';
		}
	}
}
