//--------------------------------------------------------------
// Global Site Header
//--------------------------------------------------------------
.site-header {
	background-color: $ej-light;
	border-bottom: 1px solid $ej-medium;
	@apply py-12;

	.site-header-wrapper {
		@apply flex flex-row justify-between mx-auto;
		max-width: 1200px;

		nav ul {
			margin-bottom: 0;
		}
	}

	> .site-header-content {
		// @apply container;
	}

	.site-description {
		@apply no-underline;
	}

	.site-branding {
		a {
			@apply no-underline;
		}
	}
}
